
@{
    ViewBag.Title = "PartesInteresadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="col-xs-4 col-md-3">
            <img src="~/imagenes/logoclass.jpg" width="200" height="100" />
        </div>
        <div class="col-xs-8 col-md-9">
            <p style="font-size: xx-large" class="text-left">Class Labels S. de R.L. de C.V.</p>
        </div>
    </div>
</div>
<hr />


    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-cogs fa-spin fa-5x fa-fw"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"> <p class="text-left">Partes Interesadas</p></div>

                </div>
            </div>
        </div>
</div>

<br />
<embed src="\DoctoSGCAdd\FSG-158 Partes Interesadas y sus Requisitos Pertinentes.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="1200" height="800" style="align-content:center" />


