@model SIAAPI.Models.Comercial.PedidoAdd

@{
    ViewBag.Title = "Subir Archivo PDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Subir el archivo del complementario del Pedido .pdf</h3>
<hr />
<br />

@using (Html.BeginForm("SubirArchivoPed", "EncPedido", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="id" value="@ViewBag.id">
    <div class="form-horizontal">
        <h4>Indica el archivo a subir</h4>

        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="file">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Grabar" class="btn btn-success btn-xs">Cargar Archivo PDF</button> @*<input type="submit" value="Grabar"  />*@ | @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-default btn-xs" })
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-danger">@ViewBag.Mensajeerror</h2>
    </div>

}
