
@{
    ViewBag.Title = "AsignarMateriales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar Materiales a una orden</h2>


@{

    using (Html.BeginForm("AsignaraOrden", "Almacen", FormMethod.Post))
    {

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col col-md-6 col-sm-1">
                    <div class="form-group">
                        @Html.Label("Buscar Orden", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">

                            <input type="Text" name="IDOrden" id="IDOrden" value="" />
                        </div>
                    </div>
                    <div class="form-group">


                        <input type="submit" name="Buscar" id="Buscar" value="Buscar" />

                    </div>
                </div>

            </div>

        </div>

    }
}
